{% embed 'partials/base.html.twig' %}

  {% set collection = page.collection() %}

  {% block content %}

    {# check content display flag - hibbittsdesign.org #}
    {% if not(grav.uri.param('chromeless')) and (not theme_config.chromeless.enabled) %}

      {# display blog header image without any visual effects - hibbittsdesign.org #}
      {% set blog_image = page.media.images | first %}

      {% if blog_image %}
        <div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">
      		<h1>{{page.title}}</h1>  
	  {% else %}
          <div class="blog-header">
          {% endif %}
        </div>
      {% else %}
        <div style="margin-bottom: -16px;"></div>
      {% endif %}

      {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
      {% endif %}

      <div class="content-wrapperblog-content-list grid pure-g">
        <div id="listing" class="category block pure-u-1-1 h-feed">
			{{page.content}}
          {# check if taxonomy and archive parm is false - hibbittsdesign.org #}
          {% if not(grav.uri.param('tag')) and (not(grav.uri.param('archives_month')) and (not(grav.uri.param('page')))) %}

            {# display posts with 'featured' tag - hibbittsdesign.org #}
            {% for child in taxonomy.findTaxonomy({'tag': "featured"}) %}
              {% include 'partials/category_item.html.twig' with {'blog': page, 'page': child, 'truncate': true} %}
            {% endfor %}

            {# display posts without 'featured' tag - hibbittsdesign.org #}
            {% for child in collection %}
              {% if "featured" not in child.taxonomy['tag'] %}
                {% include 'partials/category_item.html.twig' with {'blog': page, 'page': child, 'truncate': true} %}
              {% endif %}
            {% endfor %}

          {% else %}

            {% for child in collection %}
              {% include 'partials/category_item.html.twig' with {'blog': page, 'page': child, 'truncate': true} %}
            {% endfor %}

          {% endif %}

          {% if config.plugins.pagination.enabled and collection.params.pagination %}
            {% include 'partials/pagination.html.twig' with {'base_url': page.url, 'pagination': collection.params.pagination} %}
          {% endif %}

        </div>

        {# check content display flag - hibbittsdesign.org #}
        {% if not(grav.uri.param('chromeless')) and (not theme_config.chromeless.enabled) %}


        {% endif %}

      </div>
    {% endblock %}

  {% endembed %}
