<!-- Instagram Feed -->
<div class="instagram-feed text-center">
  <h3 class="heading uppercase">Instagram</h3>
  <h5 class="heading uppercase mb-30">follow @soho</h5>
  <ul id="instafeed-row"></ul>
</div>


<div class="widget-social">
  <div class="social-icons text-center">
    <a href="#">
      <i class="fa fa-instagram"></i>
      <span>instagram</span>
    </a>
    <a href="#">
      <i class="fa fa-facebook"></i>
      <span>facebook</span>
    </a>
    <a href="#">
      <i class="fa fa-twitter"></i>
      <span>twitter</span>
    </a>
    <a href="#">
      <i class="fa fa-pinterest-p"></i>
      <span>pinterest</span>
    </a>
    <a href="#">
      <i class="fa fa-rss"></i>
      <span>rss</span>
    </a>
  </div>
</div>


<!-- Footer Type-1 -->
<footer class="footer footer-type-1 bg-dark">
  <div class="bottom-footer">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 copyright text-center">
          <span>
            © 2018 Wellpro Dubai
          </span>
        </div>

      </div>
    </div>
  </div>
</footer> <!-- end footer -->

<!-- Instafeed -->
<script type="text/javascript">
$(window).load(function() {

  var InstafeedRow = new Instafeed({
      target: 'instafeed-row',
      get: 'user',
      userId: '2b52e9f1599b4fa196f9500cd4700f7b',
      accessToken: '33c116cfb9bd4134a59b97170fd2e097',
      resolution: 'low_resolution',
      limit: '6',
      template: '<li class="instagram-item"><a target="_blank" href="{{link}}"><img class="instagram-img" alt="Instagram Image" src="{{image}}"/></a></li>'
  });

  var InstafeedGrid = new Instafeed({
      target: 'instafeed-grid',
      get: 'user',
      userId: '2b52e9f1599b4fa196f9500cd4700f7b',
      accessToken: '33c116cfb9bd4134a59b97170fd2e097',
      resolution: 'low_resolution',
      limit: '9',
      template: '<li class="instagram-item"><a target="_blank" href="{{link}}"><img class="instagram-img" alt="Instagram Image" src="{{image}}"/></a></li>'
  });

  InstafeedRow.run();
  InstafeedGrid.run();

});
</script>
