<div class="col-sm-4">
  <article class="entry-item">
    <div class="entry-img">
      <a href="">
        <img src="{{blog_image.url}}" alt="">
      </a>
    </div>
    <div class="entry-header">
      <a href="" class="entry-category">category</a>
      <h2 class="entry-title">
        <a href="">{{post.title}}</a>
      </h2>
    </div>
    <div class="entry-wrap">
      <div class="entry">
        <div class="entry-content">
          <p>
            {{post.summary}}
          </p>
        </div>
        <div class="entry-meta-wrap clearfix">
          <ul class="entry-meta">
            <li class="entry-date">
              <a href=""></a>
            </li>
            <li class="entry-comments">
              <a href="#disqus_thread" data-disqus-identifier="post.id">First article</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</div>
